{% extends 'base.html.twig' %}

{% block main%}
    <h1 data-element="first">first</h1>
    <h1 id="test">fa</h1>
    <h1>{{ test }}</h1>
    <h1>sf</h1>
    <h1 class="text-3xl uppercase underline">
        Hello world!
    </h1>
    <h1 class="text-[50px] underline text-blue-500">
        Hello world!
    </h1>
{% endblock %}

{% block jsfiles %}
    <script type="module" src="/js/main.js"></script>
{% endblock %}