
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/resources/styles/compiled-main.css">
</head>
<body>
    <h1 data-element="first">first</h1>
    <h1 id="test">fa</h1>
    <h1>{{ test }}</h1>
    <h1>sf</h1>
    <h1 class="text-3xl uppercase underline">
        Hello world!
    </h1>
    <h1 class="text-[73px] underline text-red-500">
        Hello world!
    </h1>
    <img src="/resources/img/name.png"/>
    <script type="module" src="/resources/main.js"></script>
</body>
</html>